<!doctype html>
<html>
  <head>
    <title>SyntaxTree{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8-8" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/code.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="/img/logo.png" alt="SyntaxTree" /></a>
        </div>
      </div>
    </div>
{{ content }}
    <div class="container">
      <hr />
      <div class="row">
        <div class="span10">
          <footer>
            <p>Copyright &copy; 2012 - 2014 <a href="/">SyntaxTree</a>. All rights reserved.</p>
          </footer>
        </div>
        <div class="span2">
          <a href="https://twitter.com/SyntaxTree" class="twitter-follow-button" data-show-count="false">Follow @SyntaxTree</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fww.facebook.com%2FSyntaxTree&amp;send=false&amp;layout=button_count&amp;width=116&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:116px; height:21px;" allowTransparency="true"></iframe>
          <a href="https://plus.google.com/116814945527902493712" rel="publisher">Google+</a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29276599-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
  </body>
</html>
